version: "3.8"

services:
  backend:
    build: ./backend
    container_name: pos_api
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: always

  frontend:
    build: ./frontend
    container_name: pos_ui
    ports:
      - "3000:80"
    restart: always
